# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.py[cod]

# Banco de dados SQLite
*.db

# Arquivos do VS Code
.vscode/

# Variáveis de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db